*{
    margin:0;
    padding:0;
}
body{
    background-color:#efefef;
}
a{
    color:inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul,ol{
    list-style: none;
}
hr{
    height:0;
    border:none;
    border-top:1px solid;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.topNavBar{
   padding:12px 0px;
   position:fixed;
   left:0px;
   top:0px;
   width:100%;
}
.topNavBar-content{
    padding:0 16px;
}
.topNavBar nav{
    float:right;
    padding:1px 0;
}
.topNavBar nav>ul{
    list-style:none;
    margin:0;
    padding:0
}

.topNavBar nav>ul>li{
    float:left;
    margin:0 17px;
}
.topNavBar nav>ul>li>a{
    font-size:12px;
    color: rgba(255,255,255,0.7);
    font-weight: bold;
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    padding:8px 0;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom:3px solid #e06567;
}
.topNavBar .logo{
    float:left;
    font-size: 24px;
    padding-top:3px;
    padding-bottom:3px;
    font-family:"Arial Black";
}
.topNavBar .logo>.rs{
    margin-right:4px;
    color:#e66816;
}
.topNavBar .logo>.card{
    color:#9a9da2;
}
.banner{
    background-image: url(../image/bg.jpg);
    height:500px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height:500px;
    background-color: rgba(0,0,0,0.4);
}
.myCard{
    max-width: 950px;
    background-color: #efefef;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
main .myCard .picture{
    object-fit: cover;
}
main .myCard .welcome{
    background-color: #e6686a;
    color:#fff;
    display: inline-block;
    padding:4px 16px;
    line-height: 21px;
    position: relative;
}
main .myCard .welcome .triangle{
    display: block;
    border:10px solid transparent;
    width:0;
    border-top-width:0;
    border-left-color:#e6686a;
    position:absolute;
    left:4px;
    top:100%;
}
main .pictureAndText{
    padding:30px 40px;
}
main .myCard .picture{
    float:left;
}
main .myCard .text{
    width:470px;
    margin-left:20px;
    float:left;
}
.myCard .text h1{
    margin-top:20px;
    margin-bottom:6px;
}
.myCard .text hr{
    margin:20px 0;
}
.myCard dl dt,
.myCard dl dd{
    float:left;
    padding:5px 0;
}
.myCard dl dt{
    font-weight: bold;
    width:30%;
}
.myCard dl dd{
    width:70%;
    color:#9a9da2;
}
.myCard footer.media{
    background: #e6686a;
    text-align: center;
}
.myCard footer.media a{
    display:inline-block;
    border-radius: 50%;
    width:40px;
    height:40px;
    margin:10px 10px;
    line-height: 36px;
    padding:3px;
}
.myCard footer.media a:hover{
    background-color: #cf5d5f;
}
.myCard  svg{
    width:20px;
    height:20px;
    fill:white;
    vertical-align:middle;
}
body>main{
    margin-top:-260px;
}
main .downloadResume{
    text-align: center;
}
main a.download{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color:#3d4d51;
    display:inline-block;
    border-radius: 8px;
    border:1px solid #9a9da2;
    padding:21px 50px;
    text-align: center; 
    margin:32px  0;
}
main a.download:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
    transition:box-shadow 0.4s;
}
main .selfIntroduction{
    max-width: 950px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    line-height:30px;
}
section.skills,
section.works{
    max-width: 950px;
    margin:60px auto;
}
section.skills h2,
section.works h2,
section.skills h3{
    text-align:center;
    color: #3d4451;
}
section h2{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills>ol{
    margin-top:30px;
    padding:30px 50px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
section.skills>ol>li{
    float:left;
    width:50%;
    box-sizing: border-box;
    padding-right:18px;
}
progress
{
   color:#E6686a; /*兼容IE10的已完成进度背景*/
   border:none;
   width:100%;
   height:5px;
   margin-bottom:10px;
   background:rgb(247, 186, 186);/*这个属性也可当作Chrome的已完成进度背景，只不过被下面的::progress-bar覆盖了*/     

}
progress::-webkit-progress-bar
{
       background-color:rgb(247, 186, 186);
}
progress::-webkit-progress-value
{
     background-color:#E6686a;
}
section.works nav{
    text-align: center;
}
section.works ol{
    display:inline-block;
    vertical-align: top;
    margin:0 auto;
}
.skillpointDefault{
    border-bottom: 4px solid #fff;
}
.skillpoint{
    border-bottom: 4px solid #E6686a;
}
section.works ol li{
    float:left;
    padding:20px 15px;
    transition: all 0.4s;
}
section.works .jobs{
    position: relative;
    height:600px;
    margin-top:30px;
}
section.works .jobs .big,
section.works .jobs .small1,
section.works .jobs .small2{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
}
section.works .jobs .small1{
    position: absolute;
    top:0;
    left:650px;
}
section.works .jobs .small2{
    position: absolute;
    top:200px;
    left:650px;
}